p{
    color :rgb(128, 0, 4);
}

#main title{
    color:blueviolet
}

#main title { 
    font-size: 20px;
}
.info{
    color:darkslategray
}
ul{color:crimson}

li{
    background-color: aqua;
    color:blue}

.info{
    background-color:cadetblue
}

li:hover{color:chartreuse}
